<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Biblioteca Spring</title>
</head>
<body>

    <h2>Lista de Livros por Autor</h2>
    
    <div th:unless="${#lists.isEmpty(livros)}">
      <dl th:each="livro : ${livros}">
        <dt class="bookHeadline">
          <span th:text="${livro.titulo}">Title</span> by <span
                th:text="${livro.autor}">Author</span> (ISBN: <span
                th:text="${livro.isbn}">ISBN</span>)
  
        </dt>
    
      <dd class="bookDescription">
        <span th:if="${livro.description}" th:text="${livro.description}"
        >Description</span>
        <span th:if="${livro.description eq null}"> Nenhuma descrição
        foi adicionada para esse livro!</span>
      </dd>
    </dl>
  </div>
  <div th:if="${#lists.isEmpty(livros)}">
    <div class="alert alert-warning" role="alert">
        <p>Nenhum Livro Cadastrado para esse autor</p>
    </div>
  </div>
  <hr />

  <h3>Adicione um novo livro para o autor:</h3>
  <form method="POST">

    <div class="form-group">
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" class="form-control" id="titulo" placeholder="Scrum a arte de fazer o dobro na metade do tempo"><br />
        <label for="isbn">ISBN</label>
        <input type="text" name="isbn" class="form-control" id="isbn" placeholder="BR99999L"><br />
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control" id="description" placeholder="Ser ágil não é o mesmo que ser rápido!">
        <input type="submit" value="Cadastrar livro">
    </div>
  </form>
</body>
</html>